.red, .error{color:red;}
form label{font-weight: normal;} /* overwrite bootstrap*/
form legend{font-weight: bold;}
.white{color: white;}
.green{color:green;}
.radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline {
	margin-left: 0px;
  	margin-bottom: 5px;
}
label.error{font-size: 10px;}
.nowrap   {white-space:nowrap;}
.panel-heading .panel-title a {display: block;}
.panel-heading .panel-title a:focus {text-decoration: none;}


.alert{  padding: 15px;
  margin:0px;
  border: 0;
  border-radius: 0px; border-bottom: 1px #fff solid;}
.alert-wrap.in{  max-height: 500px; }
.alert-wrap {
  margin: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
}
.awaf_deveoper{display: hide;}
.awaf_deveoper blockquote	{
	padding:0px !important;
	margin:0 0 0 10px !important;
	font-size: 12px !important;
	border-left: none;
}
.awaf_deveoper b{font-weight: 400 !important;}
.form_date .input-group-addon {background-color: #fff;}

#awaf_progress_bar > span.overlay {
  position: fixed;cursor: wait;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(224, 220, 220, 0.4);
}

#awaf_progress_bar > i{
  position: absolute;
  top: 50%;
  left: 40%;
  /*margin-left: -125px;*/
  margin-top: 150px;
  color:#602144;
  z-index: 12;
}

.modal-open #wrapper{
  opacity: 0.5;
}

.awaf_accordion .panel-heading {padding: 0 !important;}
.awaf_accordion .panel-title {font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif; font-weight: 600;}
.awaf_accordion .panel-title a.collapsed{background-color: white ;}
.awaf_accordion .panel-title a:not(.collapsed) {background-color: #ddd ;}
.awaf_accordion .panel-heading a{padding: 10px;}

/* x-editalbe */
button.btn.btn-primary.btn-sm.editable-submit:after {
  content : " Save";
}

button.btn.btn-default.btn-sm.editable-cancel:after {
  content : " Cancel";
}

.combodate > div.popover {width:400px;}
.date > div.popover {width:335px;}
.date .editable-buttons > button:nth-child(1) {display:block;}
.date .editable-buttons > button:nth-child(2) {margin-left: 0px; margin-top: 10px;}
