/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/fontcustom/fontcustom_4763abf84c925778519e9d2d4ea769de.eot");
  src: url("../fonts/fontcustom/fontcustom_4763abf84c925778519e9d2d4ea769de.eot?#iefix") format("embedded-opentype"),
       url("../fonts/fontcustom/fontcustom_4763abf84c925778519e9d2d4ea769de.woff") format("woff"),
       url("../fonts/fontcustom/fontcustom_4763abf84c925778519e9d2d4ea769de.ttf") format("truetype"),
       url("../fonts/fontcustom/fontcustom_4763abf84c925778519e9d2d4ea769de.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../fonts/fontcustom/fontcustom_4763abf84c925778519e9d2d4ea769de.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-agreement2:before,
.icon-book135:before,
.icon-certificate:before,
.icon-chart1:before,
.icon-climbing1:before,
.icon-climbing2:before,
.icon-csv:before,
.icon-datetime:before,
.icon-dev2:before,
.icon-doc:before,
.icon-docx:before,
.icon-edit-user1:before,
.icon-exit1:before,
.icon-exit2:before,
.icon-exit3:before,
.icon-exit4:before,
.icon-exit5:before,
.icon-footsteps:before,
.icon-gif:before,
.icon-homework:before,
.icon-html:before,
.icon-jpg:before,
.icon-lime:before,
.icon-lime2:before,
.icon-lock1:before,
.icon-map-pointer2:before,
.icon-men16:before,
.icon-message:before,
.icon-mp4:before,
.icon-new-user1:before,
.icon-new-user2:before,
.icon-new-user5:before,
.icon-password1:before,
.icon-pdf:before,
.icon-pen19:before,
.icon-pen81:before,
.icon-png:before,
.icon-ppt:before,
.icon-profile1:before,
.icon-progression:before,
.icon-rank2:before,
.icon-report1:before,
.icon-run1:before,
.icon-run2:before,
.icon-run3:before,
.icon-search1:before,
.icon-sign20:before,
.icon-sql:before,
.icon-stats2:before,
.icon-status1:before,
.icon-txt:before,
.icon-user1:before,
.icon-users1:before,
.icon-users2:before,
.icon-work7:before,
.icon-xls:before,
.icon-zip:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-agreement2:before { content: "\f13e"; }
.icon-book135:before { content: "\f142"; }
.icon-certificate:before { content: "\f139"; }
.icon-chart1:before { content: "\f145"; }
.icon-climbing1:before { content: "\f13a"; }
.icon-climbing2:before { content: "\f13b"; }
.icon-csv:before { content: "\f128"; }
.icon-datetime:before { content: "\f129"; }
.icon-dev2:before { content: "\f108"; }
.icon-doc:before { content: "\f12a"; }
.icon-docx:before { content: "\f12b"; }
.icon-edit-user1:before { content: "\f118"; }
.icon-exit1:before { content: "\f10b"; }
.icon-exit2:before { content: "\f10c"; }
.icon-exit3:before { content: "\f10d"; }
.icon-exit4:before { content: "\f10e"; }
.icon-exit5:before { content: "\f10f"; }
.icon-footsteps:before { content: "\f146"; }
.icon-gif:before { content: "\f12c"; }
.icon-homework:before { content: "\f13c"; }
.icon-html:before { content: "\f12d"; }
.icon-jpg:before { content: "\f12e"; }
.icon-lime:before { content: "\f126"; }
.icon-lime2:before { content: "\f127"; }
.icon-lock1:before { content: "\f114"; }
.icon-map-pointer2:before { content: "\f147"; }
.icon-men16:before { content: "\f144"; }
.icon-message:before { content: "\f148"; }
.icon-mp4:before { content: "\f12f"; }
.icon-new-user1:before { content: "\f130"; }
.icon-new-user2:before { content: "\f131"; }
.icon-new-user5:before { content: "\f104"; }
.icon-password1:before { content: "\f115"; }
.icon-pdf:before { content: "\f132"; }
.icon-pen19:before { content: "\f143"; }
.icon-pen81:before { content: "\f13f"; }
.icon-png:before { content: "\f133"; }
.icon-ppt:before { content: "\f134"; }
.icon-profile1:before { content: "\f121"; }
.icon-progression:before { content: "\f122"; }
.icon-rank2:before { content: "\f140"; }
.icon-report1:before { content: "\f149"; }
.icon-run1:before { content: "\f11a"; }
.icon-run2:before { content: "\f11b"; }
.icon-run3:before { content: "\f11e"; }
.icon-search1:before { content: "\f111"; }
.icon-sign20:before { content: "\f141"; }
.icon-sql:before { content: "\f135"; }
.icon-stats2:before { content: "\f109"; }
.icon-status1:before { content: "\f10a"; }
.icon-txt:before { content: "\f136"; }
.icon-user1:before { content: "\f125"; }
.icon-users1:before { content: "\f105"; }
.icon-users2:before { content: "\f106"; }
.icon-work7:before { content: "\f13d"; }
.icon-xls:before { content: "\f137"; }
.icon-zip:before { content: "\f138"; }
