.container{
	width: 100% !important;
}

.logo {
  font-size: 20px; 
  padding-top: 17px !important; 
}

.logo > .fa {
  font-size: 25px; 
  line-height: 10px; 
  padding-right: 1px;

}

table thead th {font-family: 'Oswald'; font-weight: normal !important;}
h4 span {font-family: 'Oswald'; font-weight: normal !important;}

.app_title{
	overflow: hidden; /*position: fixed;*/  z-index: 99;  top:10px; 
	width: 100%; padding-top: 10px; height:55px;   margin-top: -20px; 
  /*background-color: white;*/
  /*border-bottom: 1px solid #ddd; left:0px;*/ 
  display: none; 
}
.app_title h1 {padding: 0; margin: 7px 0px 0px 0px; font-size: 18px; color: #273959; }
.app_title h1 small { font-size: 10px; margin-top: 4px; font-family: 'Open Sans';}
.app_title h1 small:before{content: " - ";}
.app_title h1 small a{color:#333; cursor: pointer;}
.app_title h1 small a:hover{text-decoration:none; color: orange;} 
.app_title h1 small a:not(:first-child)::before{color:gray; content: " / "; font-size: 7px;}
  

.app_module	{ 
  padding-right: 30px;
  padding-left: 20px;
  padding-top: 20px;

  border-top: 1px solid #ddd; 
  background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #ffffff 50px);
  background-image: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 50px);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffffffff', GradientType=0);
  
}

.navbar {position: fixed; width: 100%; z-index: 999;} 

#app_content { 
  padding-top: 60px;
}

.nowrap   {white-space:nowrap;}
.gcell-right  {text-align: right;}

.layout-main-left .layout-main{padding-right: 0px !important;}
.tab-content .layout{margin-top: -20px !important;}

.panel-title,  a.accordion-toggle{ font-size: 100% !important;}
svg text:last-child tspan[x="6"]{display: none;}
a.accordion-toggle {background-color: #ddd !important; color:black !important;}/*#ebebeb*/
a.collapsed{background-color: #fff !important;}

.awaf_accordion a.collapsed {
  background-color: transparent !important;
  text-decoration: none !important;
}
.awaf_accordion a.collapsed:hover, .awaf_accordion a.collapsed:active {
  
}
.awaf_accordion .panel-default>.panel-heading{ background-color: white !important;}

.navbar-inverse .navbar-nav > li > a:hover{background-color: #D74B4B !important;}



@media (min-width: 768px) {
  .navbar-profile-label {display: inline;}
}

.logo .white{ letter-spacing: 4px; color:white; margin-right: 2px; font-weight: bold; background-color: #0E0B72;border-radius:4px;padding: 0 4px;}
.logo {padding-top: 20px !important; font-size: 13px; }
.logo .red{background-color: #D74B4B;  border-radius:4px; padding: 0 4px; color: white;}

.editable-container {position: relative; z-index: 999;}
.editable-inline, .editableform .form-group {width: 100% !important;}
.editable-input textarea{width: 100% !important;}
.textarea .editable-input{display: block;}
.editable-click, a.editable-click, a.editable-click:hover{
  border-bottom: dashed 1px #CBD4EA;
}

.modal-footer {
  margin-top: 15px;
  margin-bottom: -19px;
  margin-left: -19px;
  margin-right: -19px;
  padding: 19px 20px 20px;
  padding-top: 19px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  background-color: #f1f1f1;
}

a.btn-link:hover {text-decoration: none;}
.close1  {
  color:#777;
  text-shadow: 1px 1px 1px #eee;
  font-weight:bold;
}

.close1:hover  {
  color:red;
}

.border-top{
  border-top: 1px solid gray;
}

.dropzone {
  min-height: 50px;
  border: 1px dashed rgba(0, 0, 0, 0.3);
  background: white;
  padding: 0;
}
.dropzone .dz-default.dz-message span {
   display: block; 
}
.dropzone .dz-default.dz-message { 
  position: relative;
  width: 428px;
  height: 0;
  margin-left: 10px;
  margin-top: 12px;
  top: 2px;
  left: 30%;
  color: gray;
  font-size: 10px;
}

.editable-click {color:#333 !important;}