<html>
	<head>
		<title>AWAF</title>
		<link href="doc/assets/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
	<!--- todo

		- check if awaf is install
		- check wich project is using awaf

	---->
	<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-toggle"></span>
				</button>
				<a class="navbar-brand" href="#">AWAF</a>
			</div>
			<!---div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
							<i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span>
						</a>
						<ul id="g-account-menu" class="dropdown-menu" role="menu">
							<li><a href="#">My Profile</a></li>
							<li><a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div--->
		</div><!--- /container --->
	</div>

	<div class="container">

		<cfoutput>
			<cfinclude template="pages/#url.page#.cfm"/>
		</cfoutput>

	</div>

	<script type='text/javascript' src="doc/assets/js/jquery-2.1.3.min.js"></script>
	<script type='text/javascript' src="doc/assets/js/bootstrap.min.js"></script>
	<script src="doc/assets/js/libs/run_prettify.js"></script>

	</body>
</html>
