<cfoutput>

	<cfif ThisTag.ExecutionMode EQ "Start">

	    <cfparam name="Attributes.TagName" type="string" default="categories"/>


			,"categories": [{
	<cfelse>
		<cfset Content = THISTAG.GeneratedContent />
		<cfset THISTAG.GeneratedContent = "" />

				#Content#

			}],

	</cfif>

</cfoutput>
