<cfoutput>

	<cfif ThisTag.ExecutionMode EQ "Start">
	  
	    <cfparam name="Attributes.TagName" type="string" default="category"/>  

	    
			"category": [  
	<cfelse>
		<cfset Content = THISTAG.GeneratedContent />
		<cfset THISTAG.GeneratedContent = "" />
		 
				#Content#
			 
			]
	 	 
	</cfif> 

</cfoutput>