<cfoutput>

	<cfif ThisTag.ExecutionMode EQ "Start">
	  
	    <cfparam name="Attributes.TagName" type="string" default="data"/>  

	    
	 <!--- close tag --->   
	<cfelse>
		<cfset Content = THISTAG.GeneratedContent />
		<cfset THISTAG.GeneratedContent = "" />
		,
		"data": [
			#Content#
	 	]
	</cfif> 

</cfoutput>