<cfoutput>

	<cfif thisTag.ExecutionMode eq 'start'>

		<cfparam name="Attributes.TagName" type="string" default="series"/>

		<cfset cf_echart = getBaseTagData("cf_echart").Attributes/>

		series: [

	<cfelse>

		<cfset Content = THISTAG.GeneratedContent />
		<cfset THISTAG.GeneratedContent = "" />

			#Content#

		]

	</cfif>

</cfoutput>