<cfoutput> 

	<cf_xform> 

		<cf_xinput type="text" lable="Role" value="#view.name#" name="Name" /> 
		<input type="hidden" value="#view.roleid#" name="RoleId"/> 
		<br/><br/> 

		<cf_fSubmit value="Save" url="settings.Role.cfc?method=save" redirectURL="settings.role.staff_list"/>

		<br/><br/>

	</cf_xform>

</cfoutput>