<cfparam name="url.key" default="Staff"/>

<cfoutput> 

	<cf_xform> 

 
		<cf_xinput type="text" lable="Role" name="Name" />
		<input type="hidden" value="#url.key#" name="Type"/>
		<br/><br/> 

		<cf_fSubmit value="Add" icon="plus-circle" url="settings.Role.cfc?method=Save" redirectURL="settings.role.#lcase(url.key)#_list"/>

		<br/><br/>

	</cf_xform>

</cfoutput>