
<cfoutput> 

	<cf_xform> 

		<cf_option name="RoleIds" label="Select Role to Add" type="select2" multiple value="#view.roleids#" delimiters="`" selected="" display="#view.rolenames#"/>
			
 		<input type="hidden" name="UserId" value="#view.UserId#" />

 		<div class="modal-footer">
		<cf_fSubmit value="Save" url="settings.User.cfc?method=saveAddedRoles" redirectURL="employee.view@#view.EmployeeId#"/>
		</div>

	</cf_xform>

 
</cfoutput>