<cfscript>

	application.awaf.version = "0.1";
	// 0=Production, 1=Developer, 2=Debug
	application.awaf.mode = 1;
	application.awaf.secretkey = '&-)!vxv~pf}{|2!Z.^?'; // do not change
	application.awaf.temppath = expandPath("attachment/temp/"); // TODO: Make sure the user is always in the root;
	application.awaf.attachmentpath = expandPath("attachment/"); // TODO: Make sure the user is always in the root;

	application.awaf.staff_client = false;

	application.awaf.mail.password = 'Oinfo2!@2';
	application.awaf.mail.server = 'mail.{{project-namea}}.com';

	application.cfcpath = "";

</cfscript>
